a, a:hover, a:focus {
  color: inherit;
  text-decoration: none !important;
  outline: none;
}

.bg, .header {
  background-color: #020202;
  color: #fff;
}

.bg-primary, .bg-primary:hover {
  background-color: #5fbb46;
  color: #fff;
}

.bg-highlight, .bg-highlight:hover {
  background-color: #53b6dd;
  color: #fff;
}

.bg-accent, .bg-accent:hover {
  background-color: #53b6dd;
  color: #fff;
}

.bg-grey {
  background-color: #ccc;
}

.bg-grey-dark {
  background-color: #aaa;
  color: #fff;
}

.bg-grey-light {
  background-color: #eee;
}

.bg-grey-lighter {
  background-color: #f1f1f1;
}

.bg-white, .top-actions {
  background: #ffffff;
}

.bg-transparent {
  background-color: transparent !important;
}

.height-xl {
  height: 720px;
}

.height-lg {
  height: 360px;
}

.height-md {
  height: 240px;
}

.height-sm {
  height: 180px;
}

.height-xs {
  height: 144px;
}

.height-xx {
  height: 72px;
}

.full-width, .page {
  width: 100%;
}

.full-height, .page {
  height: 100%;
}

.padding-top-xl {
  padding-top: 60px;
}

.padding-top-lg {
  padding-top: 30px;
}

.padding-top-md, .header, .top-nav, .content {
  padding-top: 15px;
}

.padding-top-sm {
  padding-top: 7.5px;
}

.padding-top-xs {
  padding-top: 3.75px;
}

.padding-top-xx {
  padding-top: 1.5px;
}

.padding-top-none {
  padding-top: 0px;
}

.padding-xl {
  padding: 60px;
}

.padding-lg {
  padding: 30px;
}

.padding-md, .top-actions {
  padding: 15px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-xs {
  padding: 3.75px;
}

.padding-xx {
  padding: 1.5px;
}

.padding-none {
  padding: 0px;
}

.padding-bottom-xl {
  padding-bottom: 60px;
}

.padding-bottom-lg {
  padding-bottom: 30px;
}

.padding-bottom-md, .header, .content {
  padding-bottom: 15px;
}

.padding-bottom-sm {
  padding-bottom: 7.5px;
}

.padding-bottom-xs {
  padding-bottom: 3.75px;
}

.padding-bottom-xx {
  padding-bottom: 1.5px;
}

.padding-bottom-none {
  padding-bottom: 0px;
}

.padding-xl {
  padding: 60px;
}

.padding-lg {
  padding: 30px;
}

.padding-md, .top-actions {
  padding: 15px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-xs {
  padding: 3.75px;
}

.padding-xx {
  padding: 1.5px;
}

.padding-none {
  padding: 0px;
}

.padding-left-xl {
  padding-left: 60px;
}

.padding-left-lg {
  padding-left: 30px;
}

.padding-left-md {
  padding-left: 15px;
}

.padding-left-sm {
  padding-left: 7.5px;
}

.padding-left-xs {
  padding-left: 3.75px;
}

.padding-left-xx {
  padding-left: 1.5px;
}

.padding-left-none {
  padding-left: 0px;
}

.padding-xl {
  padding: 60px;
}

.padding-lg {
  padding: 30px;
}

.padding-md, .top-actions {
  padding: 15px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-xs {
  padding: 3.75px;
}

.padding-xx {
  padding: 1.5px;
}

.padding-none {
  padding: 0px;
}

.padding-right-xl {
  padding-right: 60px;
}

.padding-right-lg {
  padding-right: 30px;
}

.padding-right-md {
  padding-right: 15px;
}

.padding-right-sm {
  padding-right: 7.5px;
}

.padding-right-xs {
  padding-right: 3.75px;
}

.padding-right-xx {
  padding-right: 1.5px;
}

.padding-right-none {
  padding-right: 0px;
}

.padding-xl {
  padding: 60px;
}

.padding-lg {
  padding: 30px;
}

.padding-md, .top-actions {
  padding: 15px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-xs {
  padding: 3.75px;
}

.padding-xx {
  padding: 1.5px;
}

.padding-none {
  padding: 0px;
}

.margin-top-xl {
  margin-top: 60px;
}

.margin-top-lg {
  margin-top: 30px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 7.5px;
}

.margin-top-xs {
  margin-top: 3.75px;
}

.margin-top-xx {
  margin-top: 1.5px;
}

.margin-top-none {
  margin-top: 0px;
}

.margin-bottom-xl {
  margin-bottom: 60px;
}

.margin-bottom-lg {
  margin-bottom: 30px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-sm {
  margin-bottom: 7.5px;
}

.margin-bottom-xs {
  margin-bottom: 3.75px;
}

.margin-bottom-xx {
  margin-bottom: 1.5px;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-left-xl {
  margin-left: 60px;
}

.margin-left-lg {
  margin-left: 30px;
}

.margin-left-md {
  margin-left: 15px;
}

.margin-left-sm {
  margin-left: 7.5px;
}

.margin-left-xs {
  margin-left: 3.75px;
}

.margin-left-xx {
  margin-left: 1.5px;
}

.margin-left-none {
  margin-left: 0px;
}

.margin-right-xl {
  margin-right: 60px;
}

.margin-right-lg {
  margin-right: 30px;
}

.margin-right-md {
  margin-right: 15px;
}

.margin-right-sm {
  margin-right: 7.5px;
}

.margin-right-xs {
  margin-right: 3.75px;
}

.margin-right-xx {
  margin-right: 1.5px;
}

.margin-right-none {
  margin-right: 0px;
}

.margin-xl {
  margin: 60px;
}

.margin-lg {
  margin: 30px;
}

.margin-md {
  margin: 15px;
}

.margin-sm {
  margin: 7.5px;
}

.margin-xs {
  margin: 3.75px;
}

.margin-xx {
  margin: 1.5px;
}

.margin-none {
  margin: 0px;
}

.border {
  border: 1px solid #ccc;
}

.border-top {
  border-top-width: 1px;
  border-top-color: #ccc;
  border-top-style: solid;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
}

.border-left, .top-actions {
  border-left-width: 1px;
  border-left-color: #ccc;
  border-left-style: solid;
}

.border-right, .top-actions {
  border-right-width: 1px;
  border-right-color: #ccc;
  border-right-style: solid;
}

.border-light, .top-actions {
  border-color: #dddddd;
}

.border-lighter {
  border-color: #eeeeee;
}

.border-dark {
  border-color: black;
}

.border-radius {
  border-radius: 6px;
}

.no-pad {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.list-inline > li:last-child {
  padding-right: 0;
}

.list-inline > li:first-child {
  padding-left: 0;
}

.table {
  background: #fff;
}

.table thead {
  background: #f9f9f9;
}

.table-curved {
  border-collapse: separate;
}

.table-curved {
  border: solid #ccc 1px;
  border-radius: 6px;
  border-left: 0px;
}

.table-curved td, .table-curved th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table-curved th {
  border-top: none;
}

.table-curved th:first-child {
  border-radius: 6px 0 0 0;
}

.table-curved th:last-child {
  border-radius: 0 6px 0 0;
}

.table-curved th:only-child {
  border-radius: 6px 6px 0 0;
}

.table-curved tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}

.table-curved tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

strike {
  color: red;
}

.modal {
  padding-top: 60px;
}

.modal-content {
  border-radius: 0;
}

.label {
  font-weight: 400;
}

body {
  background-color: #f1f1f1;
  color: #020202;
  font-family: 'Roboto', sans-serif;
}

.page {
  position: absolute;
}

.header .navigation {
  text-align: right;
  margin-bottom: 0;
}

.header .navigation li {
  opacity: 1;
  padding: 0;
  margin: 0;
}

.header .navigation li a {
  padding: 15px 0;
  margin: 0 15px;
  color: #ccc;
}

.header .navigation li.active {
  color: #fff;
  font-weight: bold;
}

.header .navigation li.active a {
  color: #fff;
  border-bottom: #fff solid 4px;
}

.header .navigation li ul.dropdown-menu a {
  margin: 0;
  padding: 5px 10px;
  color: #000;
}

table.table tfoot tr td {
  border-top: #aaa solid 2px;
}

.dropdown.open {
  z-index: 1000000000000;
  position: relative;
}

.text-underline {
  border-bottom: #000 solid 1px;
}
