<div class="filter text-right full-width">
    <ul class="list-inline">
        
        
        <li><button class="btn btn-default btn-sm">List 10 <span class="caret"></span></button></li></li>
        <li><input class="form-control input-sm" type="text" placeholder="Search" /></li>
        <li><button class="btn btn-default btn-sm"><i class="fa fa-calendar"></i> <strong>January 1, 2017</strong> - <strong>April 1, 2017</strong> <span class="caret"></span> </button></li>
        <li><button class="btn btn-info btn-sm"><strong>Export</strong></button></li>
        
        
        
        
        
        
        
    </ul>
</div>