<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a href="index.html"><h4>Envirofit | CRM</h4></a>
            </div>
            <div class="col-sm-10">
                <ul class="navigation list-inline">
                    <li class=""><a href="tickets.html" class="">Tickets</a></li>
                    <li class=" dropdown">
                        <a href="sales.html" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sales <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="customers-prospect">
                            <li><a href="sales.html">Sales</a></li>
                            <li><a href="sales-groups.html">Group Sales</a></li>
                            <li><a href="sales-paygo.html">PAYG Sales</a></li>
                        </ul>
                    </li>
                    <li class=" dropdown">
                        <a href="customers.html" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Customers <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="customers-prospect">
                            <li><a href="customers.html">Customers</a></li>
                            <li><a href="prospects.html">Prospects</a></li>
                            <li><a href="customers-partners.html">Partners</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="transactions.html" class="">Transactions</a></li>
                    <li class=""><a href="products.html" class="">Products</a></li>
                    <li class=""><a href="promotions.html" class="">Promotions</a></li>
                    <li class=" dropdown">
                        <a href="#" data-toggle="dropdown">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <!--<li><a href="reports.html">Overall</a></li>-->
                            <li><a href="reports-paygo.html">Paygo Reports</a></li>
                            <li><a href="reports-sales.html">Sales Reports</a></li>
                            <li><a href="reports-cc.html">Customer Care Reports</a></li>
                            <li><a href="reports-agents.html">Agent Reports</a></li>
                        </ul>
                    </li>
                    <li class=" dropdown">
                        <a href="#" class="" data-toggle="dropdown">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="warranties.html">Warranties</a></li>
                            <li><a href="sms.html">SMS</a></li>
                            <li><a href="agents.html">Agents</a></li>
                            <li><a href="users.html">Users</a></li>
                            <li><a href="change-password.html">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>