<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="index.html"><h4>Envirofit | CRM</h4></a>
            </div>
            <div class="col-sm-9">
                <ul class="navigation list-inline">
                    <li class=""><a href="tickets.html" class="">Tickets</a></li>
                    <li class=""><a href="sales.html" class="">Sales</a></li>
                    <li class=""><a href="customers.html" class="">Customers</a></li>
                    <li class=""><a href="transactions.html" class="">Transactions</a></li>
                    <li class=""><a href="products.html" class="">Products</a></li>
                    <li class=""><a href="sms.html" class="">SMS</a></li>
                    <li class=""><a href="reports.html" class="">Reports</a></li>
                    <li class=""><a href="agents.html" class="">Agents</a></li>
                    <li class="">
                        <a href="#" class="" data-toggle="dropdown">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="users.html">Users</a></li>
                            <li><a href="change-password.html">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>